@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  width: 100%;
  font-family: "Fira Sans", "sans-serif";
  display: grid;
  grid-template-areas:
    "clip clip"
    "checker checker";
  place-content: center;
  background-color: bisque;
}

:root {
  --THEME-COLOR: #c2ddff;
}

.checker {
  grid-area: checker;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
  place-content: center;
  grid-template-areas:
    "prompt password password"
    "score score score"
    "btn1 btn2 btn3";
  width: clamp(650px, 80vw, 800px);
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
}

.label {
  grid-area: prompt;
  font-size: 1.5rem;
}

#password {
  grid-area: password;
  font-family: inherit;
  font-size: 1.5rem;
}

.display {
  grid-area: score;
  text-align: center;
}

#clear {
  grid-area: btn1;
  background-color: rgb(248, 124, 124);
}

#generate {
  grid-area: btn2;
  background-color: limegreen;
}

.btn {
  width: 120px;
  margin: 1rem;
  border-radius: 15px;
  min-height: 30px;
  border: 1px solid gray;
  font-weight: bolder;
  font-size: 1.15rem;
}

.icon {
  height: 80%;
  align-self: center;
}

.clipboard {
  margin: 1rem;
  min-width: 300px;
  grid-area: clip;
  background-color: var(--THEME-COLOR);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  box-shadow: -15px 10px 10px #ffc2c9;
}

.requirementList {
  display: flex;
  flex-direction: column;
}

.requirement {
  display: flex;
  gap: 15px;
  height: 25px;
}

.description {
  align-self: center;
}

#copy {
  grid-area: btn3;
  background-color: var(--THEME-COLOR);
}
